<div class="col-sm-8 center">
   <section class="inputsection">
      <h2>Submit a new task</h2>
      <textarea class="contentin" placeholder="New task name"></textarea>
      <select id="multi-input" name="Catagory">
         <option value="PLACEHOLDER">PLACEHOLDER</option>
         <option value="PLACEHOLDER"></option>
         <option value="PLACEHOLDER">PLACEHOLDER</option>
      </select>
      <input type="submit" class="btn btn-primary" value="Submit a new item">
   </section>
   <section class="inputsection">
      <h2>Create a new list</h2>
      <textarea class="contentin" id="nlist" placeholder="New list name"></textarea>
      <div class="header-order" id="newlistbut">
         <a style="pointer-events:none" id="anewlistbut">Create List</a>
      </div>
   </section>
</div>
