<div class="container-fluid no-padding">
   <div id="headerrow" class="rowheader">
         <!-- PUT(MODAL) settings -->
         <div class="header-order" id="settings" data-target="#exampleModal">
         <a style="pointer-events:none" id="asettings">Settings</a>
         <div class="hover"></div>
         </div>

     <!-- OPEN(POST) modal-->
         <div class="header-order" id="sign-in">
         <a style="pointer-events:none" id="asign-in">Sign In</a>
         <div class="hover"></div>
         </div>
     <!-- OPEN(POST) modal-->
        <div class="header-order" id="register">
        <a style="pointer-events:none" id="aregister">Create Account</a>
        <div class="hover"></div>
        </div>
     <!-- POST LOGOUT -->
      <div class="header-order" id="logout">
          <a style="pointer-events:none" id="alogout">Logout</a>
          <div class="hover"></div>
      </div>
      <!-- Col 1 header L-->
      <div class="col-sm-4 panel">
      </div>
      <!-- Col 2 header C-->
      <div class="col-sm-4 panel" id="overflowbreak">
         <h1 class=text-center>Ta<span class="yinsymbol">&#x262F;</span>list</h1>
      </div>
      <!-- Col 3 header R-->
      <div class="col-sm-4 panel ">
      </div>
   </div>
</div>
