<div id="mainrow" class="rowheader">
   <!-- Col 1 main L-->
   <div class="col-sm-4 panel">
   </div>
   <!-- Col 2 main C-->
   <div class="col-sm-4 panel">
      <h4 class=text-center>LIST NAME PLACEHOLDER</h4>
   </div>
   <!-- Col 3 main R-->
   <div class="col-sm-4 panel ">
   </div>
</div>
