<!DOCTYPE HTML>
<html>
   <head>
        <!--Tab title -->
      <title>Ta&#x262F;list</title>
        <!-- Bootstrap CSS -->
      <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
      <!-- Main CSS -->
      <link rel="stylesheet" href="/styles/main.css" type="text/css" />
      <!-- Jquery -->
      <!-- <script type="text/javascript" src="../public/styles/sassstyles/vendors/jquery-3.0.0.js"></script> -->
      <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
      <!-- App.js -->
      <script type="text/javascript" src="/scripts/app.js"></script>
      <!-- Bootstrap JS -->
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
   </head>
   <body>
      <!-- HEADER BAR START -->
      <div class="container-fluid no-padding">
         <div id="headerrow" class="rowheader">
               <!-- PUT(MODAL) settings -->
               <div class="header-order" id="settings" data-target="#exampleModal">
               <a style="pointer-events:none" id="asettings">Settings</a>
               <div class="hover"></div>
               </div>

           <!-- OPEN(POST) modal-->
               <div class="header-order" id="sign-in">
               <a style="pointer-events:none" id="asign-in">Sign In</a>
               <div class="hover"></div>
               </div>
           <!-- OPEN(POST) modal-->
              <div class="header-order" id="register">
              <a style="pointer-events:none" id="aregister">Create Account</a>
              <div class="hover"></div>
              </div>
           <!-- POST LOGOUT -->
            <div class="header-order" id="logout">
                <a style="pointer-events:none" id="alogout">Logout</a>
                <div class="hover"></div>
            </div>
            <!-- Col 1 header L-->
            <div class="col-sm-4 panel">
            </div>
            <!-- Col 2 header C-->
            <div class="col-sm-4 panel" id="overflowbreak">
               <h1 class=text-center>Ta<span class="yinsymbol">&#x262F;</span>list</h1>
            </div>
            <!-- Col 3 header R-->
            <div class="col-sm-4 panel ">
            </div>
         </div>
      </div>
      <!-- Button from https://sign.compass.com/ -->
      <!--- HEADER BAR END -->
      <!--- TASK TITLE AREA-->
      <div class="container-fluid no-padding">
      <div id="mainrow" class="rowheader">
         <!-- Col 1 main L-->
         <div class="col-sm-4 panel">
         </div>
         <!-- Col 2 main C-->
         <div class="col-sm-4 panel">
            <h4 class=text-center>LIST NAME PLACEHOLDER</h4>
         </div>
         <!-- Col 3 main R-->
         <div class="col-sm-4 panel ">
         </div>
      </div>
      <div id="mainrow2" class="rowheader">
         <!-- Col 1 main2 L-->
         <div class="col-sm-2 left">
         </div>
         <!--- Col 2 main2 C-->
         <div class="col-sm-8 center">
            <section class="inputsection">
               <h2>Create a new list</h2>
               <textarea class="contentin" id="nlist" placeholder="New list name"></textarea>
               <div class="header-order" id="newlistbut">
                  <a style="pointer-events:none" id="anewlistbut">Create List</a>
               </div>
            </section>
            <section class="inputsection">
               <h2>Submit a new task</h2>
               <textarea class="contentin" placeholder="New task name"></textarea>
               <select id="multi-input" name="Catagory">
                  <option value="PLACEHOLDER">PLACEHOLDER</option>
                  <option value="PLACEHOLDER"></option>
                  <option value="PLACEHOLDER">PLACEHOLDER</option>
               </select>
            </section>
         </div>
         <!-- Col 3 main2 R-->
         <div class="col-sm-2 right">
         </div>
      </div>
      <div class='☯'></div>

    <!--Sign In Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Log In</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form action="/api/user" method="post">
        <fieldset>
          <legend>Login</legend>

          <input type="text" id="lusername" name="username">
          <label for="lusername">username</label><br/>

          <input type="text" id="lemail" name="login">
          <label for="lemail">email</label><br/>

          <input type="text" id="lpassword" name="password">
          <label for="lpassword">password</label>
        </fieldset>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <input type="submit" class="btn btn-primary modal-login-button" value="Save Changes">
      </div>
    </form>
    </div>
  </div>
</div>
</div>
    <!--Create Account Modal -->
<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Register</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form action="/api/register" method="post">
        <fieldset>
          <legend>Register</legend>

          <input type="text" id="rusername" name="username">
          <label for="lusername">username</label><br/>

          <input type="text" id="remail" name="email">
          <label for="lemail">email</label><br/>

          <input type="text" id="rpassword" name="password">
          <label for="lpassword">password</label>
        </fieldset>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <input type="submit" class="btn btn-primary modal-login-button" value="Save Changes">
      </div>
    </form>
    </div>
  </div>
</div>
</div>

