@charset "UTF-8";
#overflowbreak {
  word-wrap: none;
  word-break: keep-all;
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 90px;
  }
}
h1 {
  font-size: 75px;
}

@media screen and (min-width: 1024px) {
  .rowheader {
    height: 11.25rem;
  }
}
#my-row .panel {
  float: none;
  display: table-cell;
  vertical-align: top;
}

.subheader {
  background-color: rgba(0, 128, 0, 0.253);
}

/* Max made this and not sure where to impliment or how it works
$d: 80vmin;

body {
    display: flex;
  align-items: center;
  justify-content: center;
    overflow: hidden;
    height: 100vh;
    background: lightslategray;
}

.☯ {
    display: flex;
    align-items: center;
    width: $d; height: $d;
    border-radius: 50%;

    &:before, &:after {
        flex: 1;
        border: solid $d/6 transparent;
        height: $d/6;
        border-radius: 50%;
        animation: a1 3s ease-in-out infinite;
        content: ''
    }

    &:after {
        animation-name: a2;
    }
}
*/
.header-order {
  z-index: 1;
}

#asettings {
  width: 8rem;
}

#sign-in {
  position: fixed;
  top: 40px;
  right: 40px;
  height: 30px;
}

#asign-in {
  width: 8rem;
}

#settings {
  position: fixed;
  top: 40px;
  right: 180px;
  height: 30px;
}

#anew-task {
  width: 8rem;
}

#register {
  position: fixed;
  top: 85px;
  right: 40px;
  height: 30px;
}

#aregister {
  width: 9rem;
}

#new-task {
  position: fixed;
  top: 40px;
  left: 40px;
  height: 30px;
}

#anewlistbut {
  width: 10rem;
  height: 2rem;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

#newlistbut {
  position: relative;
  top: 0.2rem;
  width: 8rem;
}

#newlistbut:hover a {
  position: relative;
  top: 0.2rem;
  width: 10rem;
  height: 2rem;
  background: white;
  color: set-color(white);
  z-index: 999;
}

.header-order a {
  display: block;
  padding: 0 15px;
  font: 16px/30px "Compass Sans", Helvetica, sans-serif;
  color: #fff;
  background: rgba(125, 125, 125, 0.3);
  box-shadow: 0 0 0 1px rgba(125, 125, 125, 0.6);
  border-radius: 15px;
}

.header-order a#preorder-countdown {
  width: 140px;
  white-space: nowrap;
  text-align: center;
}

.header-order .hover {
  position: absolute;
  top: -2px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  overflow: hidden;
  border-radius: 15px;
  z-index: -1;
}

@keyframes headerOrderHover {
  0% {
    top: -4px;
    left: 0;
  }
  25% {
    top: calc(100% - 4px);
    left: 0;
  }
  50% {
    top: calc(100% - 4px);
    left: calc(100% - 25px);
  }
  75% {
    top: -4px;
    left: calc(100% - 10px);
  }
  100% {
    top: -4px;
    left: 0;
  }
}
@-webkit-keyframes headerOrderHover {
  0% {
    top: -4px;
    left: 0;
  }
  25% {
    top: calc(100% - 4px);
    left: 0;
  }
  50% {
    top: calc(100% - 4px);
    left: calc(100% - 25px);
  }
  75% {
    top: -4px;
    left: calc(100% - 10px);
  }
  100% {
    top: -4px;
    left: 0;
  }
}
.header-order .hover:before {
  content: "";
  position: absolute;
  display: block;
  width: 25px;
  height: 25px;
  top: 0;
  left: 0;
  background: #fff;
  -webkit-animation: headerOrderHover linear 1s infinite;
  animation: headerOrderHover linear 1s infinite;
  opacity: 0;
}

.header-order:hover a {
  background: #000;
  box-shadow: 0 0 0 2px rgba(125, 125, 125, 0.2);
}

.header-order:hover .hover:before {
  opacity: 1;
  transition: 0.3s;
}

/* Global text color*/
/*
 * http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 * https://css-tricks.com/international-box-sizing-awareness-day/
 * Do not modify these two selectors, please
 */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  /* 1 */
  display: block;
}

/**
 * Add the correct display in IE 9-.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */
template,
[hidden] {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/* Forms
   ========================================================================== */
/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
select,
textarea {
  font: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Restore the font weight unset by the previous rule.
 */
optgroup {
  font-weight: bold;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
  /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */
[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

#overflowbreak {
  word-wrap: none;
  word-break: keep-all;
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 90px;
  }
}
h1 {
  font-size: 75px;
}

@media screen and (min-width: 1024px) {
  .rowheader {
    height: 11.25rem;
  }
}
#my-row .panel {
  float: none;
  display: table-cell;
  vertical-align: top;
}

.subheader {
  background-color: rgba(0, 128, 0, 0.253);
}

/* Max made this and not sure where to impliment or how it works
$d: 80vmin;

body {
    display: flex;
  align-items: center;
  justify-content: center;
    overflow: hidden;
    height: 100vh;
    background: lightslategray;
}

.☯ {
    display: flex;
    align-items: center;
    width: $d; height: $d;
    border-radius: 50%;

    &:before, &:after {
        flex: 1;
        border: solid $d/6 transparent;
        height: $d/6;
        border-radius: 50%;
        animation: a1 3s ease-in-out infinite;
        content: ''
    }

    &:after {
        animation-name: a2;
    }
}
*/
.header-order {
  z-index: 1;
}

#asettings {
  width: 8rem;
}

#sign-in {
  position: fixed;
  top: 40px;
  right: 40px;
  height: 30px;
}

#asign-in {
  width: 8rem;
}

#settings {
  position: fixed;
  top: 40px;
  right: 180px;
  height: 30px;
}

#anew-task {
  width: 8rem;
}

#register {
  position: fixed;
  top: 85px;
  right: 40px;
  height: 30px;
}

#aregister {
  width: 9rem;
}

#new-task {
  position: fixed;
  top: 40px;
  left: 40px;
  height: 30px;
}

#anewlistbut {
  width: 10rem;
  height: 2rem;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

#newlistbut {
  position: relative;
  top: 0.2rem;
  width: 8rem;
}

#newlistbut:hover a {
  position: relative;
  top: 0.2rem;
  width: 10rem;
  height: 2rem;
  background: white;
  color: black;
  z-index: 999;
}

.header-order a {
  display: block;
  padding: 0 15px;
  font: 16px/30px "Compass Sans", Helvetica, sans-serif;
  color: #fff;
  background: rgba(125, 125, 125, 0.3);
  box-shadow: 0 0 0 1px rgba(125, 125, 125, 0.6);
  border-radius: 15px;
}

.header-order a#preorder-countdown {
  width: 140px;
  white-space: nowrap;
  text-align: center;
}

.header-order .hover {
  position: absolute;
  top: -2px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  overflow: hidden;
  border-radius: 15px;
  z-index: -1;
}

@keyframes headerOrderHover {
  0% {
    top: -4px;
    left: 0;
  }
  25% {
    top: calc(100% - 4px);
    left: 0;
  }
  50% {
    top: calc(100% - 4px);
    left: calc(100% - 25px);
  }
  75% {
    top: -4px;
    left: calc(100% - 10px);
  }
  100% {
    top: -4px;
    left: 0;
  }
}
@-webkit-keyframes headerOrderHover {
  0% {
    top: -4px;
    left: 0;
  }
  25% {
    top: calc(100% - 4px);
    left: 0;
  }
  50% {
    top: calc(100% - 4px);
    left: calc(100% - 25px);
  }
  75% {
    top: -4px;
    left: calc(100% - 10px);
  }
  100% {
    top: -4px;
    left: 0;
  }
}
.header-order .hover:before {
  content: "";
  position: absolute;
  display: block;
  width: 25px;
  height: 25px;
  top: 0;
  left: 0;
  background: #fff;
  -webkit-animation: headerOrderHover linear 1s infinite;
  animation: headerOrderHover linear 1s infinite;
  opacity: 0;
}

.header-order:hover a {
  background: #000;
  box-shadow: 0 0 0 2px rgba(125, 125, 125, 0.2);
}

.header-order:hover .hover:before {
  opacity: 1;
  transition: 0.3s;
}

@font-face {
  font-family: "Linux Libertine";
  /* normal */
  src: url("../fonts/linux-libertine/LinLibertine_R.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.yinsymbol {
  font-family: Linux Libertine;
}

#overflowbreak {
  word-wrap: none;
  word-break: keep-all;
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 90px;
  }
}
h1 {
  font-size: 75px;
}

@media screen and (min-width: 1024px) {
  .rowheader {
    height: 11.25rem;
  }
}
#my-row .panel {
  float: none;
  display: table-cell;
  vertical-align: top;
}

.subheader {
  background-color: rgba(0, 128, 0, 0.253);
}

/* Max made this and not sure where to impliment or how it works
$d: 80vmin;

body {
    display: flex;
  align-items: center;
  justify-content: center;
    overflow: hidden;
    height: 100vh;
    background: lightslategray;
}

.☯ {
    display: flex;
    align-items: center;
    width: $d; height: $d;
    border-radius: 50%;

    &:before, &:after {
        flex: 1;
        border: solid $d/6 transparent;
        height: $d/6;
        border-radius: 50%;
        animation: a1 3s ease-in-out infinite;
        content: ''
    }

    &:after {
        animation-name: a2;
    }
}
*/
.header-order {
  z-index: 1;
}

#asettings {
  width: 8rem;
}

#sign-in {
  position: fixed;
  top: 40px;
  right: 40px;
  height: 30px;
}

#asign-in {
  width: 8rem;
}

#settings {
  position: fixed;
  top: 40px;
  right: 180px;
  height: 30px;
}

#anew-task {
  width: 8rem;
}

#register {
  position: fixed;
  top: 85px;
  right: 40px;
  height: 30px;
}

#aregister {
  width: 9rem;
}

#new-task {
  position: fixed;
  top: 40px;
  left: 40px;
  height: 30px;
}

#anewlistbut {
  width: 10rem;
  height: 2rem;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

#newlistbut {
  position: relative;
  top: 0.2rem;
  width: 8rem;
}

#newlistbut:hover a {
  position: relative;
  top: 0.2rem;
  width: 10rem;
  height: 2rem;
  background: white;
  color: black;
  z-index: 999;
}

.header-order a {
  display: block;
  padding: 0 15px;
  font: 16px/30px "Compass Sans", Helvetica, sans-serif;
  color: #fff;
  background: rgba(125, 125, 125, 0.3);
  box-shadow: 0 0 0 1px rgba(125, 125, 125, 0.6);
  border-radius: 15px;
}

.header-order a#preorder-countdown {
  width: 140px;
  white-space: nowrap;
  text-align: center;
}

.header-order .hover {
  position: absolute;
  top: -2px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  overflow: hidden;
  border-radius: 15px;
  z-index: -1;
}

@keyframes headerOrderHover {
  0% {
    top: -4px;
    left: 0;
  }
  25% {
    top: calc(100% - 4px);
    left: 0;
  }
  50% {
    top: calc(100% - 4px);
    left: calc(100% - 25px);
  }
  75% {
    top: -4px;
    left: calc(100% - 10px);
  }
  100% {
    top: -4px;
    left: 0;
  }
}
@-webkit-keyframes headerOrderHover {
  0% {
    top: -4px;
    left: 0;
  }
  25% {
    top: calc(100% - 4px);
    left: 0;
  }
  50% {
    top: calc(100% - 4px);
    left: calc(100% - 25px);
  }
  75% {
    top: -4px;
    left: calc(100% - 10px);
  }
  100% {
    top: -4px;
    left: 0;
  }
}
.header-order .hover:before {
  content: "";
  position: absolute;
  display: block;
  width: 25px;
  height: 25px;
  top: 0;
  left: 0;
  background: #fff;
  -webkit-animation: headerOrderHover linear 1s infinite;
  animation: headerOrderHover linear 1s infinite;
  opacity: 0;
}

.header-order:hover a {
  background: #000;
  box-shadow: 0 0 0 2px rgba(125, 125, 125, 0.2);
}

.header-order:hover .hover:before {
  opacity: 1;
  transition: 0.3s;
}

.rowheader {
  display: flex;
  height: 15rem;
  width: 100%;
  margin: 0;
  align-items: center;
}

#headerrow {
  background-color: black;
  color: white;
}

.col-sm-4 {
  width: 33.33vh;
  height: auto;
}

.col-sm-2 {
  width: 16.66vh;
  background-color: gainsboro;
  height: 75rem;
}

.col-sm-8 {
  width: 66.66vh;
  height: 75rem;
  background-color: #c1c1c1;
}

#mainrow {
  background-color: gainsboro;
  color: black;
  height: 3.75rem;
}

#mainrow2 {
  color: black;
  height: 75rem;
  z-index: -1;
}

#overflowbreak {
  word-wrap: none;
  word-break: keep-all;
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 90px;
  }
}
h1 {
  font-size: 75px;
}

@media screen and (min-width: 1024px) {
  .rowheader {
    height: 11.25rem;
  }
}
#my-row .panel {
  float: none;
  display: table-cell;
  vertical-align: top;
}

.subheader {
  background-color: rgba(0, 128, 0, 0.253);
}

/* Max made this and not sure where to impliment or how it works
$d: 80vmin;

body {
    display: flex;
  align-items: center;
  justify-content: center;
    overflow: hidden;
    height: 100vh;
    background: lightslategray;
}

.☯ {
    display: flex;
    align-items: center;
    width: $d; height: $d;
    border-radius: 50%;

    &:before, &:after {
        flex: 1;
        border: solid $d/6 transparent;
        height: $d/6;
        border-radius: 50%;
        animation: a1 3s ease-in-out infinite;
        content: ''
    }

    &:after {
        animation-name: a2;
    }
}
*/
.header-order {
  z-index: 1;
}

#asettings {
  width: 8rem;
}

#sign-in {
  position: fixed;
  top: 40px;
  right: 40px;
  height: 30px;
}

#asign-in {
  width: 8rem;
}

#settings {
  position: fixed;
  top: 40px;
  right: 180px;
  height: 30px;
}

#anew-task {
  width: 8rem;
}

#register {
  position: fixed;
  top: 85px;
  right: 40px;
  height: 30px;
}

#aregister {
  width: 9rem;
}

#new-task {
  position: fixed;
  top: 40px;
  left: 40px;
  height: 30px;
}

#anewlistbut {
  width: 10rem;
  height: 2rem;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

#newlistbut {
  position: relative;
  top: 0.2rem;
  width: 8rem;
}

#newlistbut:hover a {
  position: relative;
  top: 0.2rem;
  width: 10rem;
  height: 2rem;
  background: white;
  color: black;
  z-index: 999;
}

.header-order a {
  display: block;
  padding: 0 15px;
  font: 16px/30px "Compass Sans", Helvetica, sans-serif;
  color: #fff;
  background: rgba(125, 125, 125, 0.3);
  box-shadow: 0 0 0 1px rgba(125, 125, 125, 0.6);
  border-radius: 15px;
}

.header-order a#preorder-countdown {
  width: 140px;
  white-space: nowrap;
  text-align: center;
}

.header-order .hover {
  position: absolute;
  top: -2px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  overflow: hidden;
  border-radius: 15px;
  z-index: -1;
}

@keyframes headerOrderHover {
  0% {
    top: -4px;
    left: 0;
  }
  25% {
    top: calc(100% - 4px);
    left: 0;
  }
  50% {
    top: calc(100% - 4px);
    left: calc(100% - 25px);
  }
  75% {
    top: -4px;
    left: calc(100% - 10px);
  }
  100% {
    top: -4px;
    left: 0;
  }
}
@-webkit-keyframes headerOrderHover {
  0% {
    top: -4px;
    left: 0;
  }
  25% {
    top: calc(100% - 4px);
    left: 0;
  }
  50% {
    top: calc(100% - 4px);
    left: calc(100% - 25px);
  }
  75% {
    top: -4px;
    left: calc(100% - 10px);
  }
  100% {
    top: -4px;
    left: 0;
  }
}
.header-order .hover:before {
  content: "";
  position: absolute;
  display: block;
  width: 25px;
  height: 25px;
  top: 0;
  left: 0;
  background: #fff;
  -webkit-animation: headerOrderHover linear 1s infinite;
  animation: headerOrderHover linear 1s infinite;
  opacity: 0;
}

.header-order:hover a {
  background: #000;
  box-shadow: 0 0 0 2px rgba(125, 125, 125, 0.2);
}

.header-order:hover .hover:before {
  opacity: 1;
  transition: 0.3s;
}

#overflowbreak {
  word-wrap: none;
  word-break: keep-all;
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 90px;
  }
}
h1 {
  font-size: 75px;
}

@media screen and (min-width: 1024px) {
  .rowheader {
    height: 11.25rem;
  }
}
#my-row .panel {
  float: none;
  display: table-cell;
  vertical-align: top;
}

.subheader {
  background-color: rgba(0, 128, 0, 0.253);
}

/* Max made this and not sure where to impliment or how it works
$d: 80vmin;

body {
    display: flex;
  align-items: center;
  justify-content: center;
    overflow: hidden;
    height: 100vh;
    background: lightslategray;
}

.☯ {
    display: flex;
    align-items: center;
    width: $d; height: $d;
    border-radius: 50%;

    &:before, &:after {
        flex: 1;
        border: solid $d/6 transparent;
        height: $d/6;
        border-radius: 50%;
        animation: a1 3s ease-in-out infinite;
        content: ''
    }

    &:after {
        animation-name: a2;
    }
}
*/
.header-order {
  z-index: 1;
}

#asettings {
  width: 8rem;
}

#sign-in {
  position: fixed;
  top: 40px;
  right: 40px;
  height: 30px;
}

#asign-in {
  width: 8rem;
}

#settings {
  position: fixed;
  top: 40px;
  right: 180px;
  height: 30px;
}

#anew-task {
  width: 8rem;
}

#register {
  position: fixed;
  top: 85px;
  right: 40px;
  height: 30px;
}

#aregister {
  width: 9rem;
}

#new-task {
  position: fixed;
  top: 40px;
  left: 40px;
  height: 30px;
}

#anewlistbut {
  width: 10rem;
  height: 2rem;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

#newlistbut {
  position: relative;
  top: 0.2rem;
  width: 8rem;
}

#newlistbut:hover a {
  position: relative;
  top: 0.2rem;
  width: 10rem;
  height: 2rem;
  background: white;
  color: black;
  z-index: 999;
}

.header-order a {
  display: block;
  padding: 0 15px;
  font: 16px/30px "Compass Sans", Helvetica, sans-serif;
  color: #fff;
  background: rgba(125, 125, 125, 0.3);
  box-shadow: 0 0 0 1px rgba(125, 125, 125, 0.6);
  border-radius: 15px;
}

.header-order a#preorder-countdown {
  width: 140px;
  white-space: nowrap;
  text-align: center;
}

.header-order .hover {
  position: absolute;
  top: -2px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  overflow: hidden;
  border-radius: 15px;
  z-index: -1;
}

@keyframes headerOrderHover {
  0% {
    top: -4px;
    left: 0;
  }
  25% {
    top: calc(100% - 4px);
    left: 0;
  }
  50% {
    top: calc(100% - 4px);
    left: calc(100% - 25px);
  }
  75% {
    top: -4px;
    left: calc(100% - 10px);
  }
  100% {
    top: -4px;
    left: 0;
  }
}
@-webkit-keyframes headerOrderHover {
  0% {
    top: -4px;
    left: 0;
  }
  25% {
    top: calc(100% - 4px);
    left: 0;
  }
  50% {
    top: calc(100% - 4px);
    left: calc(100% - 25px);
  }
  75% {
    top: -4px;
    left: calc(100% - 10px);
  }
  100% {
    top: -4px;
    left: 0;
  }
}
.header-order .hover:before {
  content: "";
  position: absolute;
  display: block;
  width: 25px;
  height: 25px;
  top: 0;
  left: 0;
  background: #fff;
  -webkit-animation: headerOrderHover linear 1s infinite;
  animation: headerOrderHover linear 1s infinite;
  opacity: 0;
}

.header-order:hover a {
  background: #000;
  box-shadow: 0 0 0 2px rgba(125, 125, 125, 0.2);
}

.header-order:hover .hover:before {
  opacity: 1;
  transition: 0.3s;
}

.left {
  border: 0.25rem;
  border-color: black;
  border-style: double;
  border-right: none;
}

.center {
  border: 0.25rem;
  border-color: black;
  border-style: double;
  border-right-style: ridge;
  border-left-style: ridge;
  border-right-width: 0.4rem;
  border-left-width: 0.4rem;
}

.right {
  border: 0.25rem;
  border-color: black;
  border-style: double;
  border-left: none;
}

#overflowbreak {
  word-wrap: none;
  word-break: keep-all;
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 90px;
  }
}
h1 {
  font-size: 75px;
}

@media screen and (min-width: 1024px) {
  .rowheader {
    height: 11.25rem;
  }
}
#my-row .panel {
  float: none;
  display: table-cell;
  vertical-align: top;
}

.subheader {
  background-color: rgba(0, 128, 0, 0.253);
}

/* Max made this and not sure where to impliment or how it works
$d: 80vmin;

body {
    display: flex;
  align-items: center;
  justify-content: center;
    overflow: hidden;
    height: 100vh;
    background: lightslategray;
}

.☯ {
    display: flex;
    align-items: center;
    width: $d; height: $d;
    border-radius: 50%;

    &:before, &:after {
        flex: 1;
        border: solid $d/6 transparent;
        height: $d/6;
        border-radius: 50%;
        animation: a1 3s ease-in-out infinite;
        content: ''
    }

    &:after {
        animation-name: a2;
    }
}
*/
.header-order {
  z-index: 1;
}

#asettings {
  width: 8rem;
}

#sign-in {
  position: fixed;
  top: 40px;
  right: 40px;
  height: 30px;
}

#asign-in {
  width: 8rem;
}

#settings {
  position: fixed;
  top: 40px;
  right: 180px;
  height: 30px;
}

#anew-task {
  width: 8rem;
}

#register {
  position: fixed;
  top: 85px;
  right: 40px;
  height: 30px;
}

#aregister {
  width: 9rem;
}

#new-task {
  position: fixed;
  top: 40px;
  left: 40px;
  height: 30px;
}

#anewlistbut {
  width: 10rem;
  height: 2rem;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

#newlistbut {
  position: relative;
  top: 0.2rem;
  width: 8rem;
}

#newlistbut:hover a {
  position: relative;
  top: 0.2rem;
  width: 10rem;
  height: 2rem;
  background: white;
  color: black;
  z-index: 999;
}

.header-order a {
  display: block;
  padding: 0 15px;
  font: 16px/30px "Compass Sans", Helvetica, sans-serif;
  color: #fff;
  background: rgba(125, 125, 125, 0.3);
  box-shadow: 0 0 0 1px rgba(125, 125, 125, 0.6);
  border-radius: 15px;
}

.header-order a#preorder-countdown {
  width: 140px;
  white-space: nowrap;
  text-align: center;
}

.header-order .hover {
  position: absolute;
  top: -2px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  overflow: hidden;
  border-radius: 15px;
  z-index: -1;
}

@keyframes headerOrderHover {
  0% {
    top: -4px;
    left: 0;
  }
  25% {
    top: calc(100% - 4px);
    left: 0;
  }
  50% {
    top: calc(100% - 4px);
    left: calc(100% - 25px);
  }
  75% {
    top: -4px;
    left: calc(100% - 10px);
  }
  100% {
    top: -4px;
    left: 0;
  }
}
@-webkit-keyframes headerOrderHover {
  0% {
    top: -4px;
    left: 0;
  }
  25% {
    top: calc(100% - 4px);
    left: 0;
  }
  50% {
    top: calc(100% - 4px);
    left: calc(100% - 25px);
  }
  75% {
    top: -4px;
    left: calc(100% - 10px);
  }
  100% {
    top: -4px;
    left: 0;
  }
}
.header-order .hover:before {
  content: "";
  position: absolute;
  display: block;
  width: 25px;
  height: 25px;
  top: 0;
  left: 0;
  background: #fff;
  -webkit-animation: headerOrderHover linear 1s infinite;
  animation: headerOrderHover linear 1s infinite;
  opacity: 0;
}

.header-order:hover a {
  background: #000;
  box-shadow: 0 0 0 2px rgba(125, 125, 125, 0.2);
}

.header-order:hover .hover:before {
  opacity: 1;
  transition: 0.3s;
}

.contentin {
  background-color: white;
  z-index: 50;
  width: 100%;
  height: 5rem;
  padding: 1rem;
  margin-top: 1rem;
  box-shadow: 0rem 2px 2px 0px #3c3c3c, 2px 2px 5px 6px #777777;
}

#overflowbreak {
  word-wrap: none;
  word-break: keep-all;
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 90px;
  }
}
h1 {
  font-size: 75px;
}

@media screen and (min-width: 1024px) {
  .rowheader {
    height: 11.25rem;
  }
}
#my-row .panel {
  float: none;
  display: table-cell;
  vertical-align: top;
}

.subheader {
  background-color: rgba(0, 128, 0, 0.253);
}

/* Max made this and not sure where to impliment or how it works
$d: 80vmin;

body {
    display: flex;
  align-items: center;
  justify-content: center;
    overflow: hidden;
    height: 100vh;
    background: lightslategray;
}

.☯ {
    display: flex;
    align-items: center;
    width: $d; height: $d;
    border-radius: 50%;

    &:before, &:after {
        flex: 1;
        border: solid $d/6 transparent;
        height: $d/6;
        border-radius: 50%;
        animation: a1 3s ease-in-out infinite;
        content: ''
    }

    &:after {
        animation-name: a2;
    }
}
*/
.header-order {
  z-index: 1;
}

#asettings {
  width: 8rem;
}

#sign-in {
  position: fixed;
  top: 40px;
  right: 40px;
  height: 30px;
}

#asign-in {
  width: 8rem;
}

#settings {
  position: fixed;
  top: 40px;
  right: 180px;
  height: 30px;
}

#anew-task {
  width: 8rem;
}

#register {
  position: fixed;
  top: 85px;
  right: 40px;
  height: 30px;
}

#aregister {
  width: 9rem;
}

#new-task {
  position: fixed;
  top: 40px;
  left: 40px;
  height: 30px;
}

#anewlistbut {
  width: 10rem;
  height: 2rem;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

#newlistbut {
  position: relative;
  top: 0.2rem;
  width: 8rem;
}

#newlistbut:hover a {
  position: relative;
  top: 0.2rem;
  width: 10rem;
  height: 2rem;
  background: white;
  color: black;
  z-index: 999;
}

.header-order a {
  display: block;
  padding: 0 15px;
  font: 16px/30px "Compass Sans", Helvetica, sans-serif;
  color: #fff;
  background: rgba(125, 125, 125, 0.3);
  box-shadow: 0 0 0 1px rgba(125, 125, 125, 0.6);
  border-radius: 15px;
}

.header-order a#preorder-countdown {
  width: 140px;
  white-space: nowrap;
  text-align: center;
}

.header-order .hover {
  position: absolute;
  top: -2px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  overflow: hidden;
  border-radius: 15px;
  z-index: -1;
}

@keyframes headerOrderHover {
  0% {
    top: -4px;
    left: 0;
  }
  25% {
    top: calc(100% - 4px);
    left: 0;
  }
  50% {
    top: calc(100% - 4px);
    left: calc(100% - 25px);
  }
  75% {
    top: -4px;
    left: calc(100% - 10px);
  }
  100% {
    top: -4px;
    left: 0;
  }
}
@-webkit-keyframes headerOrderHover {
  0% {
    top: -4px;
    left: 0;
  }
  25% {
    top: calc(100% - 4px);
    left: 0;
  }
  50% {
    top: calc(100% - 4px);
    left: calc(100% - 25px);
  }
  75% {
    top: -4px;
    left: calc(100% - 10px);
  }
  100% {
    top: -4px;
    left: 0;
  }
}
.header-order .hover:before {
  content: "";
  position: absolute;
  display: block;
  width: 25px;
  height: 25px;
  top: 0;
  left: 0;
  background: #fff;
  -webkit-animation: headerOrderHover linear 1s infinite;
  animation: headerOrderHover linear 1s infinite;
  opacity: 0;
}

.header-order:hover a {
  background: #000;
  box-shadow: 0 0 0 2px rgba(125, 125, 125, 0.2);
}

.header-order:hover .hover:before {
  opacity: 1;
  transition: 0.3s;
}

#multi-input {
  font-size: 1.5rem;
  border: 0.25rem;
  border-style: solid;
  border-color: black;
}

#overflowbreak {
  word-wrap: none;
  word-break: keep-all;
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 90px;
  }
}
h1 {
  font-size: 75px;
}

@media screen and (min-width: 1024px) {
  .rowheader {
    height: 11.25rem;
  }
}
#my-row .panel {
  float: none;
  display: table-cell;
  vertical-align: top;
}

.subheader {
  background-color: rgba(0, 128, 0, 0.253);
}

/* Max made this and not sure where to impliment or how it works
$d: 80vmin;

body {
    display: flex;
  align-items: center;
  justify-content: center;
    overflow: hidden;
    height: 100vh;
    background: lightslategray;
}

.☯ {
    display: flex;
    align-items: center;
    width: $d; height: $d;
    border-radius: 50%;

    &:before, &:after {
        flex: 1;
        border: solid $d/6 transparent;
        height: $d/6;
        border-radius: 50%;
        animation: a1 3s ease-in-out infinite;
        content: ''
    }

    &:after {
        animation-name: a2;
    }
}
*/
.header-order {
  z-index: 1;
}

#asettings {
  width: 8rem;
}

#sign-in {
  position: fixed;
  top: 40px;
  right: 40px;
  height: 30px;
}

#asign-in {
  width: 8rem;
}

#settings {
  position: fixed;
  top: 40px;
  right: 180px;
  height: 30px;
}

#anew-task {
  width: 8rem;
}

#register {
  position: fixed;
  top: 85px;
  right: 40px;
  height: 30px;
}

#aregister {
  width: 9rem;
}

#new-task {
  position: fixed;
  top: 40px;
  left: 40px;
  height: 30px;
}

#anewlistbut {
  width: 10rem;
  height: 2rem;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

#newlistbut {
  position: relative;
  top: 0.2rem;
  width: 8rem;
}

#newlistbut:hover a {
  position: relative;
  top: 0.2rem;
  width: 10rem;
  height: 2rem;
  background: white;
  color: black;
  z-index: 999;
}

.header-order a {
  display: block;
  padding: 0 15px;
  font: 16px/30px "Compass Sans", Helvetica, sans-serif;
  color: #fff;
  background: rgba(125, 125, 125, 0.3);
  box-shadow: 0 0 0 1px rgba(125, 125, 125, 0.6);
  border-radius: 15px;
}

.header-order a#preorder-countdown {
  width: 140px;
  white-space: nowrap;
  text-align: center;
}

.header-order .hover {
  position: absolute;
  top: -2px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  overflow: hidden;
  border-radius: 15px;
  z-index: -1;
}

@keyframes headerOrderHover {
  0% {
    top: -4px;
    left: 0;
  }
  25% {
    top: calc(100% - 4px);
    left: 0;
  }
  50% {
    top: calc(100% - 4px);
    left: calc(100% - 25px);
  }
  75% {
    top: -4px;
    left: calc(100% - 10px);
  }
  100% {
    top: -4px;
    left: 0;
  }
}
@-webkit-keyframes headerOrderHover {
  0% {
    top: -4px;
    left: 0;
  }
  25% {
    top: calc(100% - 4px);
    left: 0;
  }
  50% {
    top: calc(100% - 4px);
    left: calc(100% - 25px);
  }
  75% {
    top: -4px;
    left: calc(100% - 10px);
  }
  100% {
    top: -4px;
    left: 0;
  }
}
.header-order .hover:before {
  content: "";
  position: absolute;
  display: block;
  width: 25px;
  height: 25px;
  top: 0;
  left: 0;
  background: #fff;
  -webkit-animation: headerOrderHover linear 1s infinite;
  animation: headerOrderHover linear 1s infinite;
  opacity: 0;
}

.header-order:hover a {
  background: #000;
  box-shadow: 0 0 0 2px rgba(125, 125, 125, 0.2);
}

.header-order:hover .hover:before {
  opacity: 1;
  transition: 0.3s;
}

.no-padding {
  padding: 0 !important;
}

.text-center {
  text-align: center;
}

.contentin {
  font-size: 2rem;
}

#overflowbreak {
  word-wrap: none;
  word-break: keep-all;
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 90px;
  }
}
h1 {
  font-size: 75px;
}

@media screen and (min-width: 1024px) {
  .rowheader {
    height: 11.25rem;
  }
}
#my-row .panel {
  float: none;
  display: table-cell;
  vertical-align: top;
}

.subheader {
  background-color: rgba(0, 128, 0, 0.253);
}

/* Max made this and not sure where to impliment or how it works
$d: 80vmin;

body {
    display: flex;
  align-items: center;
  justify-content: center;
    overflow: hidden;
    height: 100vh;
    background: lightslategray;
}

.☯ {
    display: flex;
    align-items: center;
    width: $d; height: $d;
    border-radius: 50%;

    &:before, &:after {
        flex: 1;
        border: solid $d/6 transparent;
        height: $d/6;
        border-radius: 50%;
        animation: a1 3s ease-in-out infinite;
        content: ''
    }

    &:after {
        animation-name: a2;
    }
}
*/
.header-order {
  z-index: 1;
}

#asettings {
  width: 8rem;
}

#sign-in {
  position: fixed;
  top: 40px;
  right: 40px;
  height: 30px;
}

#asign-in {
  width: 8rem;
}

#settings {
  position: fixed;
  top: 40px;
  right: 180px;
  height: 30px;
}

#anew-task {
  width: 8rem;
}

#register {
  position: fixed;
  top: 85px;
  right: 40px;
  height: 30px;
}

#aregister {
  width: 9rem;
}

#new-task {
  position: fixed;
  top: 40px;
  left: 40px;
  height: 30px;
}

#anewlistbut {
  width: 10rem;
  height: 2rem;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

#newlistbut {
  position: relative;
  top: 0.2rem;
  width: 8rem;
}

#newlistbut:hover a {
  position: relative;
  top: 0.2rem;
  width: 10rem;
  height: 2rem;
  background: white;
  color: black;
  z-index: 999;
}

.header-order a {
  display: block;
  padding: 0 15px;
  font: 16px/30px "Compass Sans", Helvetica, sans-serif;
  color: #fff;
  background: rgba(125, 125, 125, 0.3);
  box-shadow: 0 0 0 1px rgba(125, 125, 125, 0.6);
  border-radius: 15px;
}

.header-order a#preorder-countdown {
  width: 140px;
  white-space: nowrap;
  text-align: center;
}

.header-order .hover {
  position: absolute;
  top: -2px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  overflow: hidden;
  border-radius: 15px;
  z-index: -1;
}

@keyframes headerOrderHover {
  0% {
    top: -4px;
    left: 0;
  }
  25% {
    top: calc(100% - 4px);
    left: 0;
  }
  50% {
    top: calc(100% - 4px);
    left: calc(100% - 25px);
  }
  75% {
    top: -4px;
    left: calc(100% - 10px);
  }
  100% {
    top: -4px;
    left: 0;
  }
}
@-webkit-keyframes headerOrderHover {
  0% {
    top: -4px;
    left: 0;
  }
  25% {
    top: calc(100% - 4px);
    left: 0;
  }
  50% {
    top: calc(100% - 4px);
    left: calc(100% - 25px);
  }
  75% {
    top: -4px;
    left: calc(100% - 10px);
  }
  100% {
    top: -4px;
    left: 0;
  }
}
.header-order .hover:before {
  content: "";
  position: absolute;
  display: block;
  width: 25px;
  height: 25px;
  top: 0;
  left: 0;
  background: #fff;
  -webkit-animation: headerOrderHover linear 1s infinite;
  animation: headerOrderHover linear 1s infinite;
  opacity: 0;
}

.header-order:hover a {
  background: #000;
  box-shadow: 0 0 0 2px rgba(125, 125, 125, 0.2);
}

.header-order:hover .hover:before {
  opacity: 1;
  transition: 0.3s;
}

body {
  background-color: #EEE;
}

#overflowbreak {
  word-wrap: none;
  word-break: keep-all;
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 90px;
  }
}
h1 {
  font-size: 75px;
}

@media screen and (min-width: 1024px) {
  .rowheader {
    height: 11.25rem;
  }
}
#my-row .panel {
  float: none;
  display: table-cell;
  vertical-align: top;
}

.subheader {
  background-color: rgba(0, 128, 0, 0.253);
}

/* Max made this and not sure where to impliment or how it works
$d: 80vmin;

body {
    display: flex;
  align-items: center;
  justify-content: center;
    overflow: hidden;
    height: 100vh;
    background: lightslategray;
}

.☯ {
    display: flex;
    align-items: center;
    width: $d; height: $d;
    border-radius: 50%;

    &:before, &:after {
        flex: 1;
        border: solid $d/6 transparent;
        height: $d/6;
        border-radius: 50%;
        animation: a1 3s ease-in-out infinite;
        content: ''
    }

    &:after {
        animation-name: a2;
    }
}
*/
.header-order {
  z-index: 1;
}

#asettings {
  width: 8rem;
}

#sign-in {
  position: fixed;
  top: 40px;
  right: 40px;
  height: 30px;
}

#asign-in {
  width: 8rem;
}

#settings {
  position: fixed;
  top: 40px;
  right: 180px;
  height: 30px;
}

#anew-task {
  width: 8rem;
}

#register {
  position: fixed;
  top: 85px;
  right: 40px;
  height: 30px;
}

#aregister {
  width: 9rem;
}

#new-task {
  position: fixed;
  top: 40px;
  left: 40px;
  height: 30px;
}

#anewlistbut {
  width: 10rem;
  height: 2rem;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

#newlistbut {
  position: relative;
  top: 0.2rem;
  width: 8rem;
}

#newlistbut:hover a {
  position: relative;
  top: 0.2rem;
  width: 10rem;
  height: 2rem;
  background: white;
  color: black;
  z-index: 999;
}

.header-order a {
  display: block;
  padding: 0 15px;
  font: 16px/30px "Compass Sans", Helvetica, sans-serif;
  color: #fff;
  background: rgba(125, 125, 125, 0.3);
  box-shadow: 0 0 0 1px rgba(125, 125, 125, 0.6);
  border-radius: 15px;
}

.header-order a#preorder-countdown {
  width: 140px;
  white-space: nowrap;
  text-align: center;
}

.header-order .hover {
  position: absolute;
  top: -2px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  overflow: hidden;
  border-radius: 15px;
  z-index: -1;
}

@keyframes headerOrderHover {
  0% {
    top: -4px;
    left: 0;
  }
  25% {
    top: calc(100% - 4px);
    left: 0;
  }
  50% {
    top: calc(100% - 4px);
    left: calc(100% - 25px);
  }
  75% {
    top: -4px;
    left: calc(100% - 10px);
  }
  100% {
    top: -4px;
    left: 0;
  }
}
@-webkit-keyframes headerOrderHover {
  0% {
    top: -4px;
    left: 0;
  }
  25% {
    top: calc(100% - 4px);
    left: 0;
  }
  50% {
    top: calc(100% - 4px);
    left: calc(100% - 25px);
  }
  75% {
    top: -4px;
    left: calc(100% - 10px);
  }
  100% {
    top: -4px;
    left: 0;
  }
}
.header-order .hover:before {
  content: "";
  position: absolute;
  display: block;
  width: 25px;
  height: 25px;
  top: 0;
  left: 0;
  background: #fff;
  -webkit-animation: headerOrderHover linear 1s infinite;
  animation: headerOrderHover linear 1s infinite;
  opacity: 0;
}

.header-order:hover a {
  background: #000;
  box-shadow: 0 0 0 2px rgba(125, 125, 125, 0.2);
}

.header-order:hover .hover:before {
  opacity: 1;
  transition: 0.3s;
}

/*# sourceMappingURL=main.css.map */
