@charset "UTF-8";
body {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 100vh;
  background: lightslategray;
}

.☯ {
  display: flex;
  align-items: center;
  width: 80vmin;
  height: 80vmin;
  border-radius: 50%;
  background: linear-gradient(black 50%, white 0);
}

.☯:before, .☯:after {
  flex: 1;
  border: solid 13.33333vmin transparent;
  height: 13.33333vmin;
  border-radius: 50%;
  background: linear-gradient(black, black) content-box, linear-gradient(white, white) border-box;
  animation: a1 3s ease-in-out infinite;
  content: '';
}

.☯:after {
  background: linear-gradient(white, white) content-box, linear-gradient(black, black) border-box;
  animation-name: a2;
}
